.pl
{
  text-align: center;
  background-color: blanchedalmond;
  border-block-style: dotted;
  border-block-color: darkgreen;
  float: left;
  margin-right: 30px;
  width: 250px;
  height: 250px;

}
input
{
  border-color: darkgreen;
}

.Collection
{
  list-style-type: none;
}


.users
{
  margin: auto;
  background-color: blanchedalmond;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-block-start-style: dotted;
  border-block-color: darkgreen;
  text-align: left;
}
